:root {
  --primary-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  font-family: "Monserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* background shadow and header */

.top {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: url("./img/background-view.jpg") no-repeat 70% 20%;
}

.shadow {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

.shadow:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: inset 200px 250px 150px #000000;
}

.opened-about {
  background: url("./img/retrocar.jpg") no-repeat 15% 70%;
}

header {
  position: fixed;
  width: 100vw;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 4;
  justify-content: center;
}

header h1 {
  align-self: center;
  font-weight: 400;
  font-family: "Permanent Marker", "Pacifico", sans-serif;
  font-size: 3rem;
}

.active-section {
  background-color: black;
}
/* main menu  */

.main-nav {
  position: fixed;
  top: 35vh;
  left: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.5rem;
  z-index: 4;
  cursor: pointer;
}

.hidden-nav {
  transform: translate(-200%);
}

.main-nav li {
  padding: 5px 0;
  font-weight: bold;
  cursor: pointer;
}

.icon {
  height: 1.6rem;
  margin-right: 10px;
}

.icon2 {
  width: 1.6rem;
  position: relative;
  top: 2px;
  padding-bottom: 0;
  padding-top: 5px;
  margin-right: 5px;
}

/* About pop-out page styling */

/* nav menu */

.about #mobile ul {
  height: 70px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: white;
  color: black;
  z-index: 4;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

#mobile li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.active-tab {
  border-top: solid 5px;
  border-color: black;
}

/* sections in the about tab */

section {
  position: absolute;
  top: 13rem;
  width: 100vw;
  height: fit-content;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 70px 20px;
  margin-bottom: 70px;
  z-index: 3;
}

/* title of the section text on mobile */
section span {
  position: fixed;
  height: 5rem;
  top: 8rem;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 0;
  border-bottom: solid 3px;
  border-color: white;
  margin-bottom: 20px;
}

/* items in the sections */

.item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.itemicon {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.itemtext {
  width: 100%;
  padding-left: 5%;
  font-size: 1rem;
}

/* bio section */

.biotext {
  line-height: 1.5;
}

.biotext h5 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 20px 0;
}
/* icons in the section items */

#cc {
  background: url(./img/logocc.jpg) center/cover;
}

#swps {
  background: url(./img/logoswps.jpg) center/cover;
}

#ang {
  background: url(./img/certificate.jpg) center/cover;
}

#imovie {
  background: url(./img/imovie.svg) no-repeat center;
}

#ps {
  background: url(./img/photoshop.svg) no-repeat center;
}

/* functionality classses */

.hidden {
  display: none;
}

/* media queries */

@media (min-width: 900px) {
  /* background and header */
  .top {
    background: url("./img/background-view.jpg") no-repeat center 20% / cover;
  }

  .shadow:after {
    box-shadow: inset 300px 300px 250px #000000;
  }

  .opened-about {
    background: url("./img/retrocar.jpg") no-repeat center 20% / cover;
  }

  header {
    width: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 5;
  }

  header h1 {
    color: var(--primary-color);
    padding-left: 2rem;
    font-weight: 400;
    font-size: 6rem;
  }

  .active-section {
    background-color: rgb(0, 0, 0, 0);
  }

  .nav-bar li {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px;
  }

  .main-nav {
    position: fixed;
    top: 15rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 5;
  }
  .hidden-nav {
    transform: translate(0);
  }

  #mobile {
    display: none;
  }

  .nav-mobile-desktop {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vw;
    height: 10rem;
    background-color: black;
    z-index: 4;
  }

  .nav-mobile-desktop ul {
    margin-right: 2rem;
  }

  .nav-mobile-desktop li {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 10px 5px 10px;
    display: inline-flex;
    cursor: pointer;
  }

  .active-tab {
    background-color: black;
    border-bottom: solid 5px;
    border-top: none;
    border-color: white;
  }

  .itemtext {
    font-size: 2rem;
  }

  section {
    position: relative;
    left: 30vw;
    width: 60vw;
  }

  section span {
    display: none;
  }

  .hidden {
    display: none;
  }
}
/* sections in the about tab on desktop */

/* title of the section text on desktop */

/* The end of media queries */
@media (max-height: 800px) {
  .opened-about {
    background: url("./img/retrocar.jpg") no-repeat 15% -20%;
  }
}
