* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3rem;
  text-align: center;
}

body {
  background-color: white;
  /* background-image: linear-gradient(
    to right,
    rgb(122, 122, 133),
    rgb(255, 255, 255)
  ); */
  color: rgba(255, 255, 255);
}

header {
  height: 70vh;
}

header h1 {
  padding: 10px;
  background: url(./img/retrocar.jpg) no-repeat 100% 30% / cover;
}

header p {
  position: relative;
  top: 50%;
  transform: translate(0, -70%);
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}
.school h1 {
  background: url(./img/penpaper.jpg) no-repeat 10% 10% / cover;
  color: rgb(0, 0, 0);
}

.skill_item {
  height: 250px;
  margin: 10px;
  display: flex;
  border-radius: 30px;
  
  background-color: rgb(0, 0, 0, 0.5);
}

.skill_item .image {
  width: 300px;
  height: 200px;
  margin: 25px;
  /* background-color: black; */
  border-radius: 30px;
}

.item_text {
  height: 200px;
  margin: 25px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_text h3 {
  font-size: 1rem;
  text-align: center;
}

.skills h1 {
  background: url(./img/biurko.jpg);
}

#certificate {
  background: url(./img/certificate.jpg) center/cover;
}

#cc {
  background: url(./img/logocc.jpg) center/cover;
}

#swps {
  background: url(./img/logoswps.jpg) center/cover;
}

/* media queries */

@media (min-width: 700px) {
  h1 {
    height: 30vh;
    font-size: 5rem;
  }

  .item_text h3 {
    font-size: 3rem;
}
