* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 10rem;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(122, 122, 133),
    rgb(255, 255, 255)
  );
  color: rgb(255, 255, 255, 0.8);
}

.skill_item {
  height: 200px;
  background-color: ghostwhite;
  margin: 10px;
}

header {
  height: 60vh;
  background: url(./img/umbrella.jpg) no-repeat 20% / cover;
}

header h1 {
  position: relative;
  top: 30%;
  left: 20%;
}
