* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  height: 30vh;
  font-size: 10rem;
}

body {
  background-color: white;
  /* background-image: linear-gradient(
    to right,
    rgb(122, 122, 133),
    rgb(255, 255, 255)
  ); */
  color: rgba(255, 255, 255);
}

.skill_item {
  height: 250px;
  background-color: ghostwhite;
  margin: 10px;
  display: flex;
  border-radius: 30px;
}

.skill_item .image {
  width: 300px;
  height: 200px;
  margin: 25px;
  background-color: black;
  border-radius: 30px;
}

.item_text {
  height: 200px;
  margin: 25px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_text h3 {
  font-size: 4rem;
}

header {
  margin: 0 15%;
  height: 30vh;
  background: url(./img/umbrella.jpg) no-repeat 20% / cover;
  background-position: 0 -0.3%;
}

header h1 {
  position: relative;
  top: 10%;
  left: 10%;
}

.school h1 {
  background: url(./img/penpaper.jpg);
  background-position: 70% 20%;
  color: rgb(0, 0, 0);
}

.skills h1 {
  background: url(./img/biurko.jpg);
  background-position: 0 30%;
}
section h1 {
  text-align: center;
}
