* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  --primary-color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.top {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url("./img/background-view.jpg") no-repeat 70% -1%;
}

.top:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*background: rgba(0, 0, 0, 0.6);*/
  box-shadow: inset 300px 250px 250px #000000;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100vw;
  justify-content: center;
}

/* .container h1 {
  color: var(--primary-color);
  position: absolute;
  margin-left: 2rem;
  left: 5rem;
  top: 2rem;
  font-weight: 400;
  font-family: "Permanent Marker", "Pacifico", sans-serif;
  font-size: 6rem;
  z-index: 2;
} */

.container h1 {
  align-self: center;
  color: var(--primary-color);
  font-weight: 400;
  margin-top: 5rem;
  font-family: "Permanent Marker", "Pacifico", sans-serif;
  font-size: 3rem;
  z-index: 2;
}

.navBar {
  margin-top: 5rem;
  z-index: 2;
}
.navBar li {
  margin-left: 2rem;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2rem;
  padding: 10px;
  font-family: "Monserrat", sans-serif;
}

.icon {
  height: 1.6rem;
  padding: 0;
  margin-right: 5px;
}

.icon2 {
  width: 1.6rem;
  position: relative;
  top: 2px;
  padding-bottom: 0;
  padding-top: 5px;
  margin-right: 5px;
}

/* media queries */

@media (min-width: 700px) {
  .container h1 {
    color: var(--primary-color);
    align-self: flex-start;
    margin-left: 2rem;
    left: 5rem;
    top: 2rem;
    font-weight: 400;
    font-family: "Permanent Marker", "Pacifico", sans-serif;
    font-size: 6rem;
    z-index: 2;
  }

  .top {
    background: url("./img/background-view.jpg") no-repeat center 20% / cover;
  }
}
